*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body[page=home]{
    background: url(/images/leaf-pattern.jpg);
    overflow-x: hidden;
}

body[page=other] header{
    background: url(/images/leaf-pattern.jpg);
}

body:not([page=home]) footer .background{
    background: white;
}

/* align text center */
.t-center{
    text-align: center;
}

/* Paddings */
.pd-20{
    padding: 20px;
}
.pd-40{
    padding: 40px;
}

/* Margins */
.mtb-20{
    margin: 30px 0px;
}

/* Background Colors */
.bk-white{
    background: #F8F8F8;
}
.bk-lightgray{
    background: #F8F8F8;
}
.bk-brown{
    background: #654D2A;
}
.bk-darkgray{
    background: #7B7B7B;
}
.bk-darkgreen{
    background: #193E1E;
}
/* Justify text */
.t-justify{
    text-align: justify;
}
/* Text Colors */
.green{
    color: #005527;
}
.darkgreen{
    color: #193E1E;
}
.brown{
    color: #654D2A;
}
.lightgray{
    color: #F8F8F8;
}
.gray{
    color: #828282;
}
.darkgray{
    color: #7B7B7B;
}
.white{
    color: white;
}

/* FIGURE SIZES */

/* 100% */
.figure-100{
    width: 100%;
}

/* btn */
.btn{
    padding: 10px 20px 10px 20px;
    width: fit-content;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}
.btn:hover{cursor: pointer;}

/* Button Colors */
.btn-green{
    background-color: #005527;
    color: white;
}
.btn-green:hover{
    background-color: #01381b;
    color: white;
}

.btn-darkgreen{
    background-color: #193E1E;
    color: white;
}
.btn-darkgreen:hover{
    background-color: #112914;
    color: white;
}

.btn-line-darkgreen{
    background: transparent;
    border: 2px solid #193E1E;
    color: #193E1E;
}
.btn-line-darkgreen:hover{
    background: #193E1E;
    border: 2px solid #193E1E;
    color: white;
}

.btn-brown{
    background-color: #654D2A;
    color: white;
}
.btn-brown:hover{
    background-color: #4b3920;
    color: white;
}


/* NAVBAR Collapsed */
.nav-menu.responsive a, .nav-menu.responsive li{
    display: block;
}

nav .nav-brand{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #005527;
    vertical-align: middle;
}

nav #btn-menu{
    font-size: 25px;
    vertical-align: middle;
}

nav .btn{
    float: right;
}

nav .nav-menu li{
    display: none;
    list-style: none;
    padding-top: 20px;
    font-size: 12px;
}

nav .nav-menu a{
    display: none;
    text-decoration: none;
    font-weight: bold;
}

/* Initial Section - HomePage */
.initial{
    display: table;
    margin-bottom:50px;
}

.initial .row{
    display: table-row;
}

.initial .row .left{
    display: table-cell;
    vertical-align: middle;
}

.initial .row .left strong{
    font-size: 10px;
    text-transform: uppercase;
}

.initial .btn{
    margin-top: 10px;
}

h3 span{
    position: relative;    
}

h3 span::before{
    content: " ";
    position: absolute;
    bottom: -25px;
    left: -8px;
    height: 20px;
    width: 100%;
    border: solid 5px #654D2A;
    border-color: #654D2A transparent transparent transparent;
    border-radius: 50% 0px;
     
}

.initial .row .right{
    display: none;
}

/* Volunteers Section - HomePage */
.volunteers{
    display: table;
    margin: 0;
    padding: 0;
}

.volunteers .row{
    display: table-row;
}

.volunteers .left{
    display: none;
    width: 50%;
    height: 100%;
    padding: 20px;
    vertical-align: middle;
}

.volunteers .right{
    display: table-cell;
    width: 50%;
    height: 100%;
    padding: 20px;
    vertical-align: middle;
}

.volunteers p{
    font-size: 12px;
}

.volunteers .tree-div{
    display: flex;
    justify-content: center;
    margin-top: -80px;
}

.volunteers .tree-div img{
    width: 80px;
}

.text p{
    text-align: justify;
}

.card{
    color: #3C3C3C;
    font-size: smaller;
    background: #ffff;
    width: 150px;
    height: 100px;
    display: inline-block;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.100);
    border-radius: 15px;     
    margin: 30px;
    margin-top: 40px;        
}

.card h6{
    font-weight: bold;
    font-size: 13px;
}

.card p{
    font-size: 9px;
}

.inside{
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.inside img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin-top: -55px;
    margin-left: -25px;
    object-fit: cover;
}

.goals{
    display: flex;
    justify-content: center;
    padding: 20px;
}

@keyframes loading {
    0%   { transform: scale(0.8) rotate(25deg); }
    100% { transform: scale(1) rotate(385deg); }
}

.graphs{    
    align-self: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}

.donut{
    background: transparent;
    width: 125px;
    height: 125px;
    border: 25px solid #C4C4C4;
    border-radius: 100%;
    border-right: 25px solid #003A1B;
    transform: rotate(25deg);
    animation: loading 3s ease-in-out;
    margin: 30px;
}

.trash .info{
    text-align: left;
    display: flex;
    justify-content: left;
}

.info p{
    font-size: 12px;      
}

.trash .info span{
   float: left;
}
.trash .info p{
    float: right;
    margin-left: 5px;
}

.pie{
    width: 175px; 
    height: 175px;
    border-radius: 50%;
    animation: loading 3s ease-in-out; 
    background: conic-gradient(#003A1B 40%, #C4C4C4 0);
    margin: 30px;
}

.cleaned .info{
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.cleaned .info span{
    float: right;
}
.cleaned .info p{
    float: left;
    margin-right: 5px;
}

.touch h2{
    padding: 20px;
}

.touch p{
    text-align: justify;
    font-size: 12px;    
}

.touch .btn{
    margin: 20px;
}

.background{
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.forests{
    background: #654d2a94;
    height: 60%;
}

.forests h2{
    padding: 20px;
}

.forests p{
    text-align: justify;
    font-size: 12px;
}

.forests .btn{
    margin: 20px;
}

.foot{

    background: rgba(101, 77, 42, 0.88);;
    height: 40%;
}

.foot h2{
    font-size: 40px;
}

.foot .foot-content{
    display: flex;
    justify-content: center;
}


[class^="foot-"]{
    padding: 10px;
    text-align: start;
}

.foot-content a{
    text-decoration: none;
    font-size: x-small;
}

.foot-content a:hover{text-decoration: underline;}


.vr {
    border-left: 1px solid white;
    height: 120px;
}

.foot ~ .copyright{
    text-align: left;
    background-color: rgba(113, 86, 47, 0.95);
    font-size: 10px;
}


/* OUR WORK PAGE CSS */
.work-images .mini-gallery .gal-itm .gal-img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 40px;
}

.gal-itm--2,
.gal-itm--4,
.gal-itm--5,
.gal-itm--6{
    display: none;
}

.details {
    display: table;
    margin: 30px auto;
}

.details .row{
    display: table-row;
    vertical-align: middle;
}

.details .row .content{
    display: table-cell;
}

.details .row:nth-child(1){
    text-align: center;
    vertical-align: middle;
}

.details .row:nth-child(1) .logo-lines{
    background: url("/images/logo_fs.svg") no-repeat top center;
    background-size: contain;
    display: block;
    height: 130px;
    border:0;
    position: relative;
    margin-bottom: 20px;
}

.details .row:nth-child(1) .logo-lines::before,
.details .row:nth-child(1) .logo-lines::after{
    content: '';
    display: block;
    position: absolute;
    background: #003A1B;
    height: 2px;
    top: 50%;
}
.details .row:nth-child(1) .logo-lines::before{
    left: 0;
    right: 50%;
    margin-right: 100px;
}
.details .row:nth-child(1) .logo-lines::after{
    right: 0;
    left: 50%;
    margin-left: 100px;
}

.details .row .logo img{
    display: inline-block;
    width: 300px;
    border-left: solid green;
    border-width: 200px; 
}

.details .row:not(:nth-child(1)) .content{
    vertical-align: middle;
    text-align: center;
    padding: 30px;
}

.details .row:not(:nth-child(1)) p{text-align: justify; padding: 5px;}

/* MEDIAS*/

@media only screen and (min-width: 769px) {

    .btn{
        padding: 10px 25px 10px 25px;
        font-size: 0.7em;
    }

    p{
        font-size:15px !important;
    }

    nav{
        margin: 10px 60px 10px 60px;
    }

    nav .nav-brand{float: left; font-size: 30px;}

    nav #btn-menu{
        font-size: 30px;
        margin-top: 7px;
    }    

    nav .nav-menu a{
        font-size: 15px;
    }

    .initial{
        width: 80%;
        margin: 10px 60px 10px 60px;
    }

    .initial .btn{
        margin-top: 30px;
    }

    .initial .left strong{
        font-size: 12px;
    }

    .initial h3{
        font-size: 2.3em;
    }

    .initial .left{
        display: inline-flex;
    }
    .initial .left .left{
        float: left;
    }

    .initial img{        
        float:right;
        width:550px;
        height: 550px;
    }

    .inside img{
        width: 60px;
        height: 60px;        
    }

    .card{
        margin: 55px;
    }

    .card h6{
        margin-top:10px;
    }

    .volunteers .left{
        display: table-cell;
        padding: 80px 0;
    }

    .volunteers .left > .card{
        margin-top: 50px;
        width: 250px;
        height: 120px;
    }

    .volunteers .right{
        padding: 70px;
    }

    .volunteers .right .card{display: none;}

    .volunteers .tree-div{
        position: absolute;
        margin-left: -122px;
        vertical-align: middle;  
        margin-top: 22px;  
    }

    .volunteers .tree-div img{
        width: 100px;
    }

    .graphs{
        display: inline-flex;
        justify-content: space-around;
    }

    .graphs div{
        margin: 20px;
    }

    .touch, .forests{
        padding: 90px 200px;
    }
    
    .touch h2, .forests h2{
        font-size: 2em;
    }

    .foot{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .foot h2{
        margin-right: 40px;
    }

    /* OUR WORK PAGE CSS */

    .our-work{
        display: table;
        padding: 20px 70px;
    }

    .our-work .row{
        display: table-row;
    }

    .our-work .left strong{
        font-size: 12px;
        text-transform: uppercase;
    }

    .our-work h3{
        font-size: 1.3em;
    }

    .our-work .row .left{
        display: table-cell;
        width: 40%;
        text-align: left;
        font-size: 20px;
    }

    .our-work .row .right{
        display: table-cell;
        width: 60%;
        border-left: 1px solid #BEBEBE;
        padding-left: 20px;
    }

    .mini-gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 5vw);
        grid-gap: 15px;
        padding: 40px 70px;
    }

    .work-images .mini-gallery .gal-itm .gal-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; 
    }

    .gal-itm--2,
    .gal-itm--4,
    .gal-itm--5,
    .gal-itm--6{
        display: block;
    }

    .gal-itm--1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gal-itm--2 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gal-itm--3 {
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .gal-itm--4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 7;
    }

    .gal-itm--5 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 7;
    }

    .gal-itm--6 {
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 7;
    }

    .details{
        margin: 0px 50px 90px;
    }
    
    .details .row:nth-child(1) .logo-lines::before{margin-left: 120px;}
    .details .row:nth-child(1) .logo-lines::after{margin-right: 120px;}

    .details .row:nth-child(2) .content,
    .details .row:nth-child(4) .content{
        text-align: right;
    }

    .details .row:nth-child(3) .content,
    .details .row:nth-child(5) .content{
        text-align: left;
    }
}

@media only screen and (min-width: 1025px) {

    .btn{
        padding: 10px 25px 10px 25px;
        font-size: 0.8em;
    }

    nav{
        margin: 10px 60px 10px 60px;
    }

    nav .nav-brand{float: left; font-size: 30px;}

    nav svg{
        display: none;
    }    

    nav .nav-menu a{
        display: block;
        font-size: 12px;
        float: left;
    }

    nav .nav-menu li{
        display: block;
        padding: 14px;
        margin: -2px 10px;
        float: left;
    }

    nav .nav-menu a{
        font-size: 15px;
    } 

    /* OUR WORK PAGE CSS */

    .our-work{
        width: calc(100% - 160px);
        padding: 20px 80px;
    }

    .details{
        align-content: center;
    }

    .details .row:nth-child(2) p,
    .details .row:nth-child(4) p
    {margin-left: 40%;}

    .details .row:nth-child(3) p,
    .details .row:nth-child(5) p
    {margin-right: 40%;}
}

@media only screen and (min-width: 1201px) {
   
    .btn{font-size: 15px;}

    nav .nav-brand{
        font-size: 40px;
    }

    nav .nav-menu a{
        font-size: 20px;
    }

    nav .nav-menu li{        
        margin: 5px 10px;
    }   
    
    nav .btn{        
        margin-top: 12px;
    }    
    
    .initial{
        width: 90%;
    }

    .initial .row {
        display: table-row;
    }

    .initial .row .left {
        width: 60%;
    }

    .initial .row .initial-right {
        display: table-cell;
        width: 40%;
    }

    .initial .row .initial-right img{
        width: 100%;
    }

    .goals .trash{
        margin-right: 250px;
    }

    /* OUR WORK PAGE CSS */
    .our-work h3{
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1450px) {
    .volunteers .tree-div{
        margin-top:-10px; 
    }
}








